## .NET
bin/
obj/
publish/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## VS / Rider
.vs/
.idea/
*.swp
*~

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
**/packages/

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
