@page "/about"

<PageTitle>ABOUT ME!!!!</PageTitle>

<div class="page-about">

    <h2 class="page-title">
        <span class="rainbow-text">ABOUT ME!!!!</span>
    </h2>

    <div class="about-content">
        <div class="about-avatar">
            <div class="avatar-box">
                <pre class="ascii-avatar">
    .---.
   /     \
  |  o o  |
  |  ---  |
   \_____/
  WEBMASTER
   9 0 0 0</pre>
            </div>
        </div>

        <div class="about-text">
            <div class="about-section">
                <h3 class="about-section-title">WHO AM I????</h3>
                <p>
                    GREETINGS INTERNET TRAVELER!!! I am <b>WebMaster9000</b>, the
                    creator and maintainer of this TOTALLY AWESOME website!!!
                </p>
                <p>
                    I have been on the World Wide Web since <b>1996</b> and I know
                    everything there is to know about HTML, MIDI files, and animated GIFs!!!
                </p>
                <p>
                    I learned HTML from a book I got at the library and now I make the
                    COOLEST websites using <b>Notepad</b> (the ONLY real web development tool!!!)
                </p>
            </div>

            <hr class="thick-hr">

            <div class="about-section">
                <h3 class="about-section-title">TECH SPECS!!!</h3>
                <table class="about-table">
                    <tr>
                        <td class="about-label">OS:</td>
                        <td>Windows 98 (Second Edition)</td>
                    </tr>
                    <tr>
                        <td class="about-label">Browser:</td>
                        <td>Netscape Navigator 4.75</td>
                    </tr>
                    <tr>
                        <td class="about-label">Connection:</td>
                        <td>56K Modem (BLAZING FAST!!)</td>
                    </tr>
                    <tr>
                        <td class="about-label">Monitor:</td>
                        <td>800x600, 256 colors</td>
                    </tr>
                    <tr>
                        <td class="about-label">CPU:</td>
                        <td>Pentium II 350MHz (BEAST!!!)</td>
                    </tr>
                    <tr>
                        <td class="about-label">RAM:</td>
                        <td>64MB SDRAM (SO MUCH!!!)</td>
                    </tr>
                    <tr>
                        <td class="about-label">This site built with:</td>
                        <td>.NET 10 Blazor WASM (ZERO JS!!!)</td>
                    </tr>
                </table>
            </div>

            <hr class="thick-hr">

            <div class="about-section">
                <h3 class="about-section-title">MY INTERESTS!!!</h3>
                <ul class="interests-list">
                    <li>&#9733; The World Wide Web</li>
                    <li>&#9733; Animated GIFs</li>
                    <li>&#9733; MIDI Music Files</li>
                    <li>&#9733; Webmastering</li>
                    <li>&#9733; .NET Programming</li>
                    <li>&#9733; Blazor WebAssembly</li>
                    <li>&#9733; Making COOL websites</li>
                    <li>&#9733; Guestbooks</li>
                    <li>&#9733; GeoCities Neighborhoods</li>
                    <li>&#9733; Web Rings</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="about-footer-box">
        <p class="blink-text">THIS PAGE IS BEST VIEWED WITH NETSCAPE NAVIGATOR 4.0!!!</p>
        <p>Email me at: <b>webmaster9000&#64;aol.com</b> (AOL ONLY!!!)</p>
        <p class="small-text">Please no spam!!! I will report you to your ISP!!!</p>
    </div>

</div>
